<div class="header">
    <div class="logo f_l">
        <a href="http://www.skillart.cn/">
            <img src="__IMG__/20161127171942285.png">
        </a>
    </div>
    <nav id="topnav" class="f_r">
        <ul>
            <a class="active" href="http://www.skillart.cn/">
                首页
            </a>
            <a href="http://www.skillart.cn/about.html">
                关于我
            </a>
            <a href="http://www.skillart.cn/study.html">
                学习笔记
            </a>
            <a href="http://www.skillart.cn/myexper.html">
                经验交流
            </a>
            <!--<a href="c.html">
                相册
            </a>-->
            <a href="http://www.skillart.cn/tellme.html">
                留言
            </a>
        </ul>
    </nav>
</div>
